/* header.css */

#header-content {
  position: absolute;
  background-color: #000;
  height: 50px;
}

#header-nav {
  background-color: #E3EFFE;
  border-radius: 0;
  border: 0;
  margin: 0;
}

.navbar-brand h1 {
  font-family: "Raleway", sans-serif;
  color: #F7931A;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #E3EFFE;
  margin-top: 0;
  line-height: 0.75;
  letter-spacing: 2px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#logo-img {
  background: url("../images/logo-img.png") no-repeat;
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px 0;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #0b2447;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -22px;
}



#nav-list a {
  color: #0D3F7C;
  text-align: center;
  padding: 10px;
  line-height: 0.75;
}

#nav-list a:hover {
  background: #C6DFFD;
}

#nav-list a span {
  font-size: 1.6em;
} 

.nav-label {
  display: none;
  font-size: 0.8em;
} 
