/* main-content.css */

#main-content {
  float: left;
  z-index: 1;
  margin: 50px 0px 60px 0px; 
  /* margin: 50px 0px 60px 200px;  */
}

#clear-content {
  clear: both;
}

.menu-item {
  border-bottom: 1px solid #e9f5fa;
  padding: 10px;
}

.menu-item:hover {
  background-color: #e9f5fa;
  cursor: pointer;
}