  /********** Super extra small devices Only :-) *********/
  @media (max-width: 479px) {
    /* Header */
    .navbar-brand h1 {
      /* Restaurant name */
      padding-top: 5px;
      font-size: 6vw;
    }
    /* End Header */
  
    /* Home page */
    #menu-tile,
    #specials-tile {
      width: 280px;
      margin: 0 auto 15px;
    }
  
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
  }
  