/* main.css */

/* #0B2447, #19376D, #576CBC, #A5D7E8, #E9F5FA #F7931A, #f7f7f7 */
/* dark                                   light         offwhite   */

/* 
1920px xl  Full HD
1280px m    laptop
1024px s   landscape
767px  xs  tablet
479px  sxs phone */

/* Import other CSS files */
@import 'header.css';
@import 'footer.css';
@import 'main.css';

@import 'sidebar.css';
@import 'sidecon.css';

@import 'holder.css';

@import 'media_small.css';
@import 'media_xsmall.css';
@import 'media_sxsmall.css';

body {
    font-size: 14px;
    color: #0b2447;
    background-color: #f7f7f7;
    font-family: "Roboto", sans-serif;
  }

