/* main.css */

/* Import primary CSS files */
@import 'header.css'; /* 50px height */
@import 'sidebar.css';
@import 'menu.css';
@import 'main.css';
@import 'footer.css';

@import 'sidecon.css';
@import 'card.css';

/* 
1920px xl  Full HD
1280px m    laptop
1024px s   landscape
767px  xs  tablet
479px  sxs phone 

col-lg-*: ≥1200px
col-md-*: ≥992px and <1200px
col-sm-*: ≥768px and <992px

Base: ≥1200px

*/

@import 'media_small.css';
@import 'media_xsmall.css';
@import 'media_sxsmall.css';

body {
    font-size: 14px;
    color: #0b2447;
    background-color: #E3EFFE;
    font-family: "Roboto", sans-serif;
  }

/* COLOR

#F7931A   base orange
#1a7ef7   compliment blue
#0D3F7C   darker blue
#C6DFFD   less light blue
#E3EFFE   light blue (bg)
#F8FBFF   xlight blue (bg obj)

#251af7   split complimentary blue
#1a7ef7   tetradic softer blue

Other : #0B2447, #19376D, #576CBC
*/